@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <img src="https://www4.benner.com.br/hs-fs/hubfs/Site2017/logo-header.png?width=121&name=logo-header.png" 
                 alt=" logo benner"/>
            <form>
                <div class="form-group">
                    <label for="time">Tempo de cozimento</label>
                    <input type="text" value="0" class="form-control" id="time" placeholder="Digite tempo de cozimento">
                </div>
                <div class="form-group">
                    <label for="power">Potência</label>
                    <input type="text" value="0" class="form-control" id="power" placeholder="Digite sua potência">
                </div>
                <div class="form-group">
                     <label>Tipos de cozimento</label><br/>
                    <button id="frango" type="button" class="btn galinha btn-default">Frango </button>
                    <button id="carne" type="button" class="btn carnes btn-default">Peixe </button>
                    <button id="peixe" type="button" class="btn galinha btn-default">Carne </button>
                    <button id="arroz" type="button" class="btn galinha btn-default">Arroz </button>
                </div>
                <button id="start" type="button" class="btn start btn-default">Cozinhar </button>
                <button id="stop" type="button" class="btn start btn-default">Pausar </button>
                <button id="cancel" type="button" class="btn start btn-default">Cancelar </button>

            </form>
            <div id="timer-text" class="timer-microwave">0</div>
        </div>
    </div>
</div>
